.DS_Store
**/.DS_Store
.idea/
__pycache__/
model/SBW-vectors-300-min5.txt
model/glove.840B.300d.txt
input/DAT_Spa.csv
input/DAT_Eng.csv
input/FF_Eng.csv
input/FF_Spa.csv

output/DAT_Eng/
output/DAT_Spa/
output/FF_Eng/
output/FF_Spa/

try_spark.py
